:root {
  --primary-color: #d90429;
  --secondary-color: #2b2d42;
  --background-color: #edf2f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-block: 8rem;
  background-color: var(--background-color);
}

header {
  margin-block: 2rem;
}

h1 {
  font-size: 4rem;
  color: var(--secondary-color);
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: var(--secondary-color);
  cursor: pointer;
}
