:root {
  --primary-color-300: #f52f46;
  --primary-color-200: #ff7c8c;
  --primary-color-100: #ffdad9;
  --secondary-color-300: #2b2d42;
  --secondary-color-200: #72768b;
  --secondary-color-100: #dad7da;
  --background-color: #edf2f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-block: 8rem;
  background-color: var(--background-color);
}

header {
  margin-block: 2rem;
}

h1 {
  font-size: 4rem;
  color: var(--secondary-color-300);
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}

.row {
  display: flex;
  overflow: hidden;
}

.row:not(:last-child) {
  border-bottom: 2px solid var(--secondary-color-100);
}

.row:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.row:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.cell {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  color: var(--secondary-color-300);
  cursor: pointer;
  background: none;
  border: none;
  transition: background-color 0.2s ease;
}

.cell.x {
  color: var(--primary-color-300);
}

.cell:not(:disabled):hover {
  background-color: var(--background-color);
}

.cell:first-child {
  border-right: 2px solid var(--secondary-color-100);
}

.cell:last-child {
  border-left: 2px solid var(--secondary-color-100);
}

#message {
  font-size: 2rem;
  color: var(--secondary-color-300);
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 0.5rem;
}

#message.error {
  color: var(--primary-color-300);
  background-color: var(--primary-color-100);
}

.hidden {
  display: none;
}

.game-buttons {
  display: flex;
  gap: 2rem;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: var(--secondary-color-300);
  border: none;
  border-radius: 4rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--secondary-color-200);
}

.reset {
  background-color: var(--primary-color-300);
}

.reset:hover {
  background-color: var(--primary-color-200);
}
